<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>{{ section }}</h2>
	    	<ol class="breadcrumb">
	        	<li>
	            	<a href="">Console</a>
	            </li>
	            <li class="active">
	            	<strong>{{ section }}</strong>
	            </li>
	        </ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
	    	<a href="" class="btn btn-primary">This is action area</a>
	    </div>
	</div>
</div>
<div class="wrapper wrapper-content">
	<div class="panel">
		<div class="panel-heading">
			<button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addmodal">Add</button>
		</div>
		<div class="panel-body">
			<table class="table table-stripped">
				<thead>
					<th>Column Name</th>
					<th>Column Type</th>
					<th>Form Type</th>
					<th>Action</th>
				</thead>
				<tbody>
					<tr ng-repeat="c in columns">
						<td>{{ c.column }}</td>	
						<td>{{ c.type }}</td>
						<td>{{ c.form_type }}</td>
						<td>
							<div class="btn-group">
	                            <button data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle" aria-expanded="true">Action <span class="caret"></span></button>
	                            <ul class="dropdown-menu">
	                                <li><a data-toggle="modal" data-target="#editmodal" ng-click="editItem( c )">edit</a></li>
	                                <li><a ng-click="dropItem( c.field )">delete</a></li>
	                            </ul>
	                        </div>
						</td>
					</tr>
				</tbody>
			</table>    	
		</div>
	</div>
</div>

<div class="modal modal-sm" id="editmodal">
	<div class="modal-content">
    	<div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Edit Column</h4>
        </div>
        <div class="modal-body">
        	<div class="form-group">
        		<label>Column Name</label>
        		<input class="form-control" ng-model="editedItem.column"/>
        	</div>
        	<div class="form-group">
        		<label>Column Name</label>
        		<select class="form-control" ng-options="type as type for type in typeList track by type" ng-model="editedItem.type">
        			
        		</select>
        	</div>
        	<div class="form-group">
        		<label>Column Form Type</label>
        		<select class="form-control" ng-options="type as type for type in formTypeList track by type" ng-model="editedItem.form_type">
        			
        		</select>
        	</div>
        </div>
        <div class="modal-footer">
        	<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="updateItem()">Save changes</button>
        </div>
    </div>
</div>

<div class="modal modal-sm" id="addmodal">
	<div class="modal-content">
    	<div class="modal-header">
        	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Add Column</h4>
        </div>
        <div class="modal-body">
        	<div class="form-group">
        		<label>Column Name</label>
        		<input class="form-control" ng-model="newItem.field"/>
        	</div>
        	<div class="form-group">
        		<label>Column Name</label>
        		<select class="form-control" ng-options="type as type for type in typeList track by type" ng-model="newItem.type">
        			
        		</select>
        	</div>
        	<div class="form-group">
        		<label>Column Form Type</label>
        		<select class="form-control" ng-options="type as type for type in formTypeList track by type" ng-model="newItem.form_type">
        			
        		</select>
        	</div>
        </div>
        <div class="modal-footer">
        	<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="addItem()">Save changes</button>
        </div>
    </div>
</div>